<div class="container">
    <div class="text">
        <h1 class="upfont">HOTEL</h1>
        <h1 class="bgfont">Recommendation System</h1>
        <p class="para"> using sentiment analaysis</p>
        <div class="boxes">

            <div class="box">
                <p>Click the button below to train the machine learning models on the selected Dataset</p>
                <button class="button"> Train Model</button>

            </div>
            <div class="box">
                <p>Click the Button below to test the models which are being trained and saved</p>
                <a href="#" class="button">Test Model</a>

            </div>
        </div>
    </div>


</div>