<main>
    <!-- Header -->
    <header class="header">
        <div class="container flex-between">
            <div class="logo">
                <a href="#">
                    <img class="l-img" src="../../assets/logo.png" alt="" />
                </a>
            </div>
            <nav class="main-navgation flex-between flex-ver-top">
                <div class="nav-links">

                </div>

                <div class="nav-buttons">

                    <a style="font-family: Raleway;" href="#" class="log-in">Home</a>
                    <a style="font-family: Raleway;" href="#" class="log-in">Offerings</a>
                    <a style="font-family: Raleway;" href="#" class="log-in">Dataset</a>
                    <a style="font-family: Raleway;" href="#" class="sign-up btn btn-sm disabled">Recommendations</a>

                </div>
            </nav>
            <div class="burger-menu">
                <i class="fa-regular fa-bars icon"></i>
            </div>
        </div>
    </header>

    <section class="page">

        <div class="side-menu">

            <div class="content-menu">
                <span class="heading-main">
                    <h1>
                        Hotel Recommendation System
                    </h1>
                </span>

                <mat-divider></mat-divider>


                <span class="options">

                    <ul>
                        <li *ngIf="currentDiv=='dataset'" class="liact">
                            <a>
                                Dataset
                            </a>
                        </li>

                        <li (click)="switchViews('dataset')" *ngIf="currentDiv!='dataset'">
                            <a>
                                Dataset
                            </a>
                        </li>


                        <li *ngIf="currentDiv=='features'  && selectedCSVFileName" class="liact">
                            <a>
                                Features
                            </a>
                        </li>


                        <li class="disabled" *ngIf="currentDiv!='features' && !selectedCSVFileName">
                            <a>
                                Features
                            </a>
                        </li>



                        <li (click)="switchViews('features')" *ngIf="currentDiv!='features' && selectedCSVFileName">
                            <a>
                                Features
                            </a>
                        </li>

                        <li (click)="switchViews('preprocessing')"
                            *ngIf="currentDiv!='preprocessing' && featureSelected">
                            <a>
                                Preprocessing
                            </a>
                        </li>

                        <li *ngIf="currentDiv=='preprocessing' && featureSelected" class="liact">
                            <a>
                                Preprocessing
                            </a>
                        </li>

                        <li *ngIf="!featureSelected" class="disabled">
                            <a>
                                Preprocessing
                            </a>
                        </li>

                        <!-- modelSelected -->
                        <li *ngIf="currentDiv=='mlmodel' && preprocessing" class="liact">
                            <a>
                                ML Model
                            </a>
                        </li>


                        <li (click)="switchViews('mlmodel')" *ngIf="currentDiv!='mlmodel' && preprocessing">
                            <a>
                                ML Model
                            </a>
                        </li>

                        <li class="disabled" *ngIf="!preprocessing">
                            <a>
                                ML Model
                            </a>
                        </li>

                        <!-- modelSelected -->
                        <li (click)="switchViews('results')" *ngIf="currentDiv!='results' && modelSelected">
                            <a>
                                Results
                            </a>
                        </li>

                        <li *ngIf="currentDiv=='results' && modelSelected" class="liact">
                            <a>
                                Results
                            </a>
                        </li>

                        <li *ngIf="currentDiv!='results' && !modelSelected" class="disabled">
                            <a>
                                Results
                            </a>
                        </li>

                    </ul>

                </span>
            </div>

        </div>

        <div class="content">

            <!-- spinner -->

            <div style="position: relative;top: 20em;" *ngIf="spin" class="cont">
                <mat-spinner></mat-spinner>
            </div>

            <!-- dataset upload and view done@!! -->
            <div style="margin-top: 2.5em;" *ngIf="currentDiv=='dataset' && !spin" class="cont">


                <div class="card">

                    <h3>
                        Upload Dataset to Continue
                    </h3>


                    <p style="font-family: Arial;text-align: center;position: relative;top: -1em;font-size: 10px;">
                        Dataset must be related to Product/Service reviews
                    </p>

                    <div>
                        <div style="padding-bottom: 10px;">
                            <input *ngIf="!selectedCSVFileName" #fileImportInput (change)="fileChangeListener($event)"
                                accept=".csv" type="file" />

                            <button *ngIf="selectedCSVFileName"
                                style="width: 20em;border-radius: 12px;background-color: #2acfcf;" mat-flat-button>

                                <p
                                    style="font-family: 'IBM Plex Sans Devanagari', sans-serif;position: relative;top:6px;color: white;">
                                    {{selectedCSVFileName}}
                                </p>

                            </button>

                        </div>

                        <mat-divider *ngIf="selectedCSVFileName"></mat-divider>

                        <div style="padding-top: 10px;">

                            <button (click)="viewDataset()" *ngIf="selectedCSVFileName"
                                style="width: 20em;border-radius: 12px;border:1px solid #2acfcf;background-color: white;"
                                mat-flat-button>

                                <p
                                    style="font-family: 'IBM Plex Sans Devanagari', sans-serif;position: relative;top:6px;color: #2acfcf;">
                                    View Dataset
                                </p>

                            </button>

                        </div>

                    </div>


                </div>
            </div>

            <!-- select features -->
            <div *ngIf="currentDiv=='features' && !spin" class="cont2">



                <div class="cardFeatures">

                    <h3>
                        Select Features to Continue
                    </h3>

                    <div class="aligns">

                        <mat-checkbox [checked]="subjCheck" (change)="subjScore($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Subjectivity Score
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="puncCheck" (change)="puncFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Punctuation Features
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="tfidfCheck" (change)="tfidfFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                TF-IDF model features
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="polarCheck" (change)="polarityFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Polarity Features
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="word2vecCheck" (change)="word2vecFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                word2vec model Features
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="doc2vecCheck" (change)="doc2vecFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                doc2vec model Features
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="bertCheck" (change)="bertFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Bert Model Features
                            </p>
                        </mat-checkbox>

                        <mat-checkbox [checked]="allCheck" (change)="allFeature($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                ALL Features
                            </p>
                        </mat-checkbox>



                    </div>

                    <span class="btns">
                        <button (click)="validateFeatures()" mat-flat-button class="btnBlue" matStepperNext>
                            <p class="railway btnLabel">
                                Proceed
                            </p>
                        </button>
                        <span class="pt-2"></span>
                    </span>


                </div>

            </div>

            <!-- select preprocessing steps -->
            <div *ngIf="currentDiv=='preprocessing' && !spin" class="cont">



                <div class="cardFeatures">

                    <h3>
                        Select Preprocessing Techniques to Continue
                    </h3>

                    <div class="aligns">

                        <mat-checkbox
                            *ngIf="tfidfCheck || bertCheck || polarCheck || doc2vecCheck || word2vecCheck || subjCheck"
                            [checked]="stopWordsCheck" (change)="stopWords($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Stop words removal
                            </p>
                        </mat-checkbox>


                        <mat-checkbox
                            *ngIf="tfidfCheck || bertCheck || polarCheck || doc2vecCheck || word2vecCheck || subjCheck "
                            [checked]="lemmitizationCheck" (change)="lemitization($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                lemmitization
                            </p>
                        </mat-checkbox>

                        <mat-checkbox
                            *ngIf="tfidfCheck || bertCheck || polarCheck || doc2vecCheck || word2vecCheck || subjCheck"
                            [checked]="hashesCheck" (change)="hashes($event)" color="primary" class="example-margin">
                            <p class="fNames">
                                pascal casing of hashtags
                            </p>
                        </mat-checkbox>

                        <mat-checkbox
                            *ngIf="tfidfCheck || bertCheck || polarCheck || doc2vecCheck || word2vecCheck || subjCheck"
                            [checked]="numeronymsCheck" (change)="numeronyms($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Convert Numeronyms to words
                            </p>
                        </mat-checkbox>

                        <mat-checkbox
                            *ngIf="tfidfCheck || bertCheck || polarCheck || doc2vecCheck || word2vecCheck || subjCheck || puncFeature"
                            [checked]="htmlEntitiesCheck" (change)="htmlEntities($event)" color="primary"
                            class="example-margin">
                            <p class="fNames">
                                Ressolve Html Entities
                            </p>
                        </mat-checkbox>


                        <mat-checkbox *ngIf="!puncFeature" [checked]="puncsCheck" (change)="puncs($event)"
                            color="primary" class="example-margin">
                            <p class="fNames">
                                Remove Punctuations
                            </p>
                        </mat-checkbox>


                        <mat-checkbox
                            *ngIf="!puncFeature || tfidfCheck || bertCheck || polarCheck || doc2vecCheck || word2vecCheck || subjCheck || puncFeature"
                            [checked]="allStepsCheck" (change)="all($event)" color="primary" class="example-margin">
                            <p class="fNames">
                                Apply All
                            </p>
                        </mat-checkbox>



                    </div>

                    <span class="btns">
                        <button (click)="validatePreprocessing()" mat-flat-button class="btnBlue" matStepperNext>
                            <p class="railway btnLabel">
                                Proceed
                            </p>
                        </button>
                        <span class="pt-2"></span>
                    </span>


                </div>

            </div>

            <!-- Machine learnig model -->
            <div *ngIf="currentDiv=='mlmodel' && !spin" class="cont">

                <div style="display: flex;">

                    <div class="d-flex justify-content-center flex-column">
                        <div class="instep d-flex justify-content-center flex-column text-center">
                            <div class="cardFeatures">
                                <h1 class="text-center railway" style="text-align: left;"> ML Model</h1>

                                <mat-form-field appearance="fill">
                                    <mat-label>Machine Learning Model</mat-label>
                                    <mat-select (selectionChange)="chooseModel($event.value)">
                                        <mat-option value="randomForest">

                                            <p style="font-family: Source Sans Pro;color: black;">
                                                Random Forest
                                            </p>


                                        </mat-option>

                                        <mat-option value="svm">

                                            <p style="font-family: Source Sans Pro;color: black;">
                                                Support Vector Machine
                                            </p>


                                        </mat-option>

                                    </mat-select>
                                </mat-form-field>


                                <span style="display: flex;">

                                    <p class="railway"
                                        style="padding-top: 6px;color: black;width: 50%;text-align: left;">
                                        Evaluation metrics
                                    </p>
                                    <p class="railway"
                                        style="padding-top: 6px;color: black;width: 50%;text-align: left;">
                                        Validation technique
                                    </p>
                                </span>
                                <div class="sep">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Evaluation Metric</mat-label>
                                        <mat-select (selectionChange)="chooseEvalMat($event.value)">
                                            <mat-option value="accuracy">

                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    Accuracy
                                                </p>


                                            </mat-option>

                                            <mat-option value="precision">

                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    Precision
                                                </p>


                                            </mat-option>

                                            <mat-option value="recall">

                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    Recall
                                                </p>


                                            </mat-option>


                                            <mat-option value="f1">

                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    F-measures
                                                </p>


                                            </mat-option>

                                            <mat-option value="all">

                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    ALL
                                                </p>


                                            </mat-option>



                                        </mat-select>


                                    </mat-form-field>


                                    <mat-form-field style="margin-left: 0.3em;" appearance="fill">
                                        <mat-label>Validation Technique</mat-label>
                                        <mat-select (selectionChange)="chooseTech($event.value)"
                                            style="font-family: Source Sans Pro;color: black;">
                                            <mat-option value="crossval">
                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    10 fold cross
                                                </p>
                                            </mat-option>

                                            <mat-option value="holdout">
                                                <p style="font-family: Source Sans Pro;color: black;">
                                                    Hold Out
                                                </p>
                                            </mat-option>

                                        </mat-select>
                                    </mat-form-field>


                                </div>

                                <span class="btns">
                                    <button (click)="valModel()" mat-flat-button class="btnBlue" matStepperNext>
                                        <p class="railway btnLabel">

                                            Apply
                                        </p>
                                    </button>
                                    <span class="pt-2"></span>
                                </span>


                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <!-- Results -->
            <div *ngIf="currentDiv=='results' && !spin" class="cont">

                <div style="display: flex;">

                    <div class="d-flex justify-content-center flex-column">
                        <div class="instep d-flex justify-content-center flex-column text-center">
                            <div class="cardFeatures">
                                <h1 class="text-center railway" style="text-align: center;">Results</h1>


                                <p class="railway" style="padding-top: 6px;color: black;text-align: center;">
                                    Results are as follow:
                                    <br>
                                </p>


                                <p class="railway" style="color: black;">
                                    Dataset name: Trip Advisor
                                    <br>
                                </p>


                                <p class="railway" style="color: black;">
                                    Feature name: {{selectedFeatures[0]}}
                                    <br>
                                </p>


                                <p *ngIf="evalMat=='all' || evalMat=='accuracy'" style="color: black;">

                                    Accuracy score is {{res.accuracy | percent:'2.0-2'}}


                                </p>


                                <p *ngIf="evalMat=='all' || evalMat=='precision'" style="color: black;">

                                    Precision score is {{res.precision | percent:'2.0-2'}}


                                </p>


                                <p *ngIf="evalMat=='all' || evalMat=='recall'" style="color: black;">

                                    recall score is {{res.recall | percent:'2.0-2'}}


                                </p>


                                <p *ngIf="evalMat=='all'|| evalMat=='f1'" style="color: black;">

                                    F1 score is {{res.f1 | percent:'2.0-2'}}


                                </p>



                                <span class="btns">
                                    <button (click)="saveCloud()" mat-flat-button class="btnBlue" matStepperNext>
                                        <p class="railway btnLabel"> Save Model
                                        </p>
                                    </button>
                                    <span class="pt-2"></span>
                                </span>


                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </section>

</main>